

body {
	overflow: hidden;
	background-color: #f7f7f7;
	margin: 0;
}

canvas {
	background-color: #fff;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	//margin: auto;
	outline: none;
	width: 100vw;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	cursor: crosshair;
}

.panel {
	display: block;
	position: absolute;
	background-color: #ECECEC;//#3d3d3d;
	border-radius: 20px;
	width: 200px;
	height: 400px;//315px;
	top: 20px;
	left: 20px;
	box-shadow: 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.zoomP, .zoomM {
	cursor: pointer;
	display: block;
	position: absolute;
	background-color: #ECECEC;
	color: #525454;
	border-radius: 20px;
	font: 1rem 'Fira Sans', sans-serif;
	width: 24px;
	height: 24px;
	top: 20px;
	right: 20px;
	text-align: center;
	vertical-align: middle;
	line-height: 24px;
	box-shadow: 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
	transition: .2s;
}

.zoomP:hover, .zoomM:hover {
	background-color: #3d3d3d;
	color: #ECECEC;
	transition: .2s;
}

#waitpanel {
	cursor: pointer;
	display: none;
	position: absolute;
	background-color: #ECECEC;
	color: #525454;
	border-radius: 20px;
	font: 15px 'Fira Sans', sans-serif;
	width: 200px;
	height: 24px;
	bottom: 20px;
	left: 20px;
	text-align: center;
	vertical-align: middle;
	line-height: 24px;
	//left: 50%;
	//margin-left:-100px;
	top: 430px;
	box-shadow: 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

#edit {
	display: block;
	position: absolute;
	font: 1rem 'Fira Sans', sans-serif;
	background-color: #ECECEC;
	text-align: right;
	width: 41px;
	//height: 24px;
	left: 98px;
	margin: 0px;
	padding: 4px;
	border-style: none;
	outline: none;
}

.button {
	width: 24px;
	height: 24px;
	display: inline-block;
	padding: 1px;
	cursor: pointer;
	margin: 4px;
	border-radius: 16px;
}
 
.button:hover {
	width: 32px;
	height: 32px;
	margin: 0px;
	//border: solid 1px #fff;
}
 
.button:active {
	width: 30px;
	height: 30px;
	margin: 0px;
	border: solid 1px #fff;
}
 
#palette {
	display: block;
	position: absolute;
	//border: solid 1px #aaa;
	cursor: default;
	top: 80px;
	left: 15px;
}
 
#palette {
	width: 170px;
}

.mydiv {
	display: block;
	position: absolute;
	color: #525454;
	font: 1rem 'Fira Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	width: 200px;
	top: 21px;
	cursor: default;
}
 
#colorpicker {
	display: block;
	position: absolute;
	background-color: inherit;
	width: 166px;
	height: 34px;
	top: 41px;
	left: 15px;
	border: 0 !important;
	outline: none !important;
	//opacity: 0;
	cursor: pointer;
}
 
#colorpicker:hover {
	width: 170px;
	height: 38px;
	top: 39px;
	left: 13px;
}
 
#logo {
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	top: 320px;
	left: 68px;
}